$color-accent: hsla(240, 1%, 15%, 0.9);
$color-body: hsl(240, 1%, 15%);
$color-gray: hsl(240, 1%, 36%);
$color-light-gray : hsl(0, 0%, 92%);
$color-success: hsl(160, 75%, 58%);
$color-warning: hsl(43, 100%, 64%);
$color-danger: hsl(0, 100%, 65%);
