$font-family-body: 'Arimo', sans-serif;
$font-family-title: 'Playfair Display', serif;
$font-family-icons: 'Font Awesome 5 Free';

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
