<div class="l-property__contact property-form">
  <img class="property-form__image" src="http://lorempixel.com/200/200/people/" />
  <p class="property-form__name">Olivia Fonseca</p>
  <p class="property-form__phone"><i class="fas fa-xs fa-phone-alt"></i> 55-1660-7461</p>
  <form>
    <input class="input input--full-width" placeholder="Tu nombre" />
    <input class="input input--full-width" placeholder="Tu e-mail" />
    <textarea class="input input--full-width" placeholder="Tu mensaje" /></textarea>
    <button class="button button--black button--full-width">
      Enviar mensaje
    </button>
  </form>
</div>
