<div class="l-property__description">
  <div>
    <b>
      Descripción
    </b>
  </div>
  <div>
    Donec hendrerit malesuada mauris. Fusce at dolor nec erat convallis efficitur
    finibus eu eros. Sed erat ligula, commodo vel feugiat ac, pellentesque at
    ante. Vivamus diam massa, lacinia at arcu sed, sollicitudin cursus erat. Etiam
    lectus erat, blandit at scelerisque vitae, semper et odio. Vivamus vitae metus
    tincidunt, lacinia urna quis, vehicula ipsum. Cras ac neque ac nulla cursus
    finibus vitae in tortor. Sed tempus arcu orci, et feugiat nibh lobortis at. In
    hac habitasse platea dictumst. Vivamus viverra nisi non mi elementum, a
    aliquet lectus vehicula. Donec a risus ac urna molestie pellentesque. Integer
    ultricies purus et quam finibus volutpat.
  </div>
  <div>
    <b>
      Características
    </b>
  </div>
  <div class="l-property__list">
    <i class="fas fa-check"></i> Accesible para Personas con Capacidades Diferentes
    <br />
    <i class="fas fa-check"></i> Aire Acondicionado
    <br />
    <i class="fas fa-check"></i> Alarma de Seguridad
    <br />
    <i class="fas fa-check"></i> Balcón
    <br />
    <i class="fas fa-check"></i> Calentador de Agua
    <br />
    <i class="fas fa-check"></i> Chiminea
    <br />
    <i class="fas fa-check"></i> Portero
    <br />
    <i class="fas fa-check"></i> Seguridad Privada
  </div>
</div>
