<div class="l-property__details">
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      $5,000
    </p>
    <p class="property-detail__label">
      En venta
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      $5,000
    </p>
    <p class="property-detail__label">
      En venta
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      3
    </p>
    <p class="property-detail__label">
      Recamaras
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      2
    </p>
    <p class="property-detail__label">
      Baños
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      400 sq. ft.
    </p>
    <p class="property-detail__label">
      En venta
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      400 sq. ft.
    </p>
    <p class="property-detail__label">
      En venta
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      300 sq. ft.
    </p>
    <p class="property-detail__label">
      Terreno
    </p>
  </div>
  <div class="property-detail">
    <p class="property-detail__title title title--white">
      2
    </p>
    <p class="property-detail__label">
      Estacionamientos
    </p>
  </div>
</div>
