<div class="l-property__related related-properties">
  <div class="container">
    <h3 class="related-properties__title title">
      Propiedades Similares
    </h3>
    <div class="related-properties__listing">
      <%= render "shared/house-card",
        image: "listing-1.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-2.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-3.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
    </div>
  </div>
</div>
