<div class="l-property__map position-relative">
  <div class="direction-box">
    <i class="fas fa-white fa-map-marker-alt fa-outline"></i>
    Sevilla 113, Portales Norte, Benito Juáres, Distrito Federal
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30099.766589818668!2d-99.15047806257512!3d19.43525714563266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f932eba629cf%3A0xa042febddcff95a!2sCentro%20Cultural%20Espa%C3%B1a%20en%20M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1577741112807!5m2!1ses-419!2smx"
    width="100%"
    height="400"
    frameborder="0"
    style="border:0;"
    allowfullscreen=""></iframe>
</div>
