<div class="l-property">
  <div class="l-property__header">
    <div class="l-property__direction">
      <div class="container">
        <i class="fas fa-map-marker-alt fa-outline"></i>
        Sevilla 113, Portales Norte, Benito Juáres, Distrito Federal
        <h1 class="title">
          Departamento amplio y remodelado en Portales Norte
        </h1>
      </div>
    </div>
    <div class="l-property__photos owl-carousel owl-theme property-carousel">
      <%= image_tag("property-1.png") %>
      <%= image_tag("property-2.jpg") %>
      <%= image_tag("property-3.jpg") %>
    </div>
    <div class="l-property__info">
      <div class="container">
        <div class="relative-position">
          <%= render "property-details" %>
          <%= render "property-form" %>
        </div>
      </div>
    </div>
  </div>
  <div class="l-property__content">
    <div class="container">
      <%= render "property-description" %>
      <%= render "property-map" %>
      <%= render "property-related" %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop: true,
      nav: true,
      dots: true,
      items: 1,
      navText: ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>']
    });
  });
</script>
