.l-property {
  &__direction {
    padding: 3em;
    font-size: 0.75em;
    background-color: $color-light-gray;

    h1 {
      font-size: 2.25em;
    }
  }

  &__photos {
    height: 55vh;
    min-height: 25rem;
    background-color: black;

    img {
      width: 100%;
      height: 55vh;
      min-height: 25rem;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    background-color: $color-body;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    width: 100%;

    @media (min-width: $medium) {
      width: 70%;
    }
  }

  &__contact {
    background-color: white;
    box-shadow: 0 10px 25px -15px $color-gray;

    @media (min-width: $medium) {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
    }
  }

  &__content {
    padding: 3em 0 4em;
    background: linear-gradient(white 0%, white 60%, $color-light-gray 60%);
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: auto auto;
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    width: 65%;
  }

  &__list {
    line-height: 2;
  }

  &__map {
    margin: 3em auto;

    .direction-box {
      position: absolute;
      bottom: 7px;
      left: 50%;
      max-width: 80%;
      padding: 1em;
      color: white;
      text-align: center;
      background-color: $color-accent;
      transform: translateX(-50%);
    }
  }
}
