.l-welcome {
  padding: 1em 0 2.5em;
  background: white;
  background: linear-gradient(white 0%, white 50%, $color-light-gray 50%);

  &__title {
    margin: 1.75em auto 1.25em;
    font-size: 1.5rem;
    text-align: center;
  }

  &__properties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-row-gap: 2em;
    grid-column-gap: 1.5em;
  }

  &__agents {
    padding-inline: 2.5em;

    @media (min-width: $medium) {
      padding-inline: 6em;
    }

    .owl-nav {
      position: absolute;
      top: 30%;
      width: 100%;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
      width: 2em;
      height: 2em;
      font-size: 2em;
      background: white;
      border-radius: 50%;
      opacity: 1;
      transition: 0.5s ease-in-out opacity;
    }

    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      right: -1em;
    }

    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      left: -1em;
    }

    .owl-carousel .owl-nav button.owl-prev.disabled,
    .owl-carousel .owl-nav button.owl-next.disabled {
      opacity: 0;
    }
  }
}
