<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div>
        <p class="footer__title title title--white">
          Contáctanos
        </p>
        <p>
          Av. Insurgentes Sur 0000, 4o piso
          <br />
          Col. Condesa, 00000, Ciudad de México
          <br />
          Teléfono: 505050505
          <br />
          daniel@easybroker.com
        </p>
      </div>
      <div>
        <p class="footer__title title title--white">
          Menú
        </p>
        <ul>
          <%= link_to("#") do %>
            <li class="footer__link">Inicio</li>
          <% end %>
          <%= link_to("#") do %>
            <li class="footer__link">Ventas</li>
          <% end %>
          <%= link_to("#") do %>
            <li class="footer__link">Rentas</li>
          <% end %>
          <%= link_to("#") do %>
            <li class="footer__link">Contáctanos</li>
          <% end %>
          <%= link_to("#") do %>
            <li class="footer__link">Propietarios</li>
          <% end %>
          <%= link_to("#") do %>
            <li class="footer__link">¿Quienes Sómos?</li>
          <% end %>
        </ul>
      </div>
      <div>
        <p class="footer__title title title--white">
          Contáctanos
        </p>
        <p>
          Av. Insurgentes Sur 0000, 4o piso
          <br />
          Col. Condesa, 00000, Ciudad de México
          <br />
          Teléfono: 505050505
          <br />
          daniel@easybroker.com
        </p>
      </div>
    </div>
    <hr />
    <div class="footer__powered">
      Powered by EasyBroker
    </div>
    <hr />
  </div>
</footer>
