<header class="header">
  <div class="container">
    <div class="header__information">
      <div class="header__logo">
        <span class="header__brand title">Praga</span>
        <br />
        <span class="header__slogan">Real state company</span>
      </div>
      <div class="header__contact">
        <span class="header__cta">
          LLamanos
        </span>
        <br />
        <div>
          <b>
            55 1660 7461
          </b>
        </div>
      </div>
      <div class="header__social_media">
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin-in fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-youtube fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-pinterest fa-stack-1x"></i>
        </span>
        <span class="fa-stack">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-whatsapp fa-stack-1x"></i>
        </span>
      </div>
      <div class="header__search">
        <div class="header__search-box">
          <i class="fas fa-search fa-sm"></i>
          <input class="input" placeholder="Buscar propiedades">
        </div>
      </div>
    </div>
    <nav class="header__navigation">
      <ul class="header__menu">
        <%= link_to("#") do %>
          <li class="header__link header__link--active">Inicio</li>
        <% end %>
        <%= link_to("#") do %>
          <li class="header__link">Ventas</li>
        <% end %>
        <%= link_to("#") do %>
          <li class="header__link">Rentas</li>
        <% end %>
        <%= link_to("#") do %>
          <li class="header__link">Contáctanos</li>
        <% end %>
        <%= link_to("#") do %>
          <li class="header__link">Propiertarios</li>
        <% end %>
        <%= link_to("#") do %>
          <li class="header__link">¿Quienes Sómos?</li>
        <% end %>
      </ul>
      <nav>
  </div>
</header>
