<div class="house-card">
  <%= link_to property_path do %>
    <div class="house-card__ad">
      <div class="house-card__contract">
        <%= operation %>
      </div>
      <div class="house-card__price">
        $<%= price %>
      </div>
      <%= image_tag(image, class: "house-card__image") %>
    </div>
    <p class="house-card__description">
      <%= description %>
    </p>
  <% end %>
  <div>
    <span class="house-card__item">
      <i class="fas fa-bed fa-outline"></i> <%= beds %>
    </span>
    <span class="house-card__item">
      <i class="fas fa-bath fa-outline"></i> <%= baths %>
    </span>
    <span class="house-card__item">
      <i class="fas fa-car fa-outline"></i> <%= parking %>
    </span>
    <span class="house-card__item">
      <i class="fas fa-arrows-alt fa-outline"></i> <%= space %> sq. ft.
    </span>
  </div>
</div>
