<div class="agent-card">
  <img class="agent-card__image" src=<%= image %> />
  <div class="agent-card__information">
    <span class="agent-card__name"><%= name %></span>
    <br />
    <span><i class="fas fa-xs fa-phone-alt"></i> <%= phone %></span>
  </div>
</div>

