<div class="hero-image">
  <div class="container">
    <div class="landing-form">
      <h1 class="landing-form__title title">
        Encuentra tu
        <br />
        próxima casa
      </h1>
      <form>
        <div class="select select--full-width">
          <select>
            <option value="venta">Propiedades en Venta</option>
            <option value="renta">Propiedades en Renta</option>
            <select>
        </div>
        <br />
        <div class="select select--full-width">
          <select>
            <option value="">Tipo de propiedad</option>
            <option value="departamento">Departamento</option>
          </select>
        </div>
        <br />
        <button class="button button--full-width">
          Buscar propiedades
        </button>
      </form>
    </div>
  </div>
</div>
<div class="l-welcome">
  <div class="container">
    <h2 class="l-welcome__title title">
      Propiedades Destacadas
    </h2>
    <div class="l-welcome__properties">
      <%= render "shared/house-card",
        image: "listing-1.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-2.jpg",
        operation: "Renta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-3.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-4.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-5.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
      <%= render "shared/house-card",
        image: "listing-6.jpg",
        operation: "Venta",
        price: "3,200,000",
        description: "Casa en Hipódromo Condesa, Cuauhtémoc",
        beds: 3,
        baths: 2,
        parking: 2,
        space: 300
      %>
    </div>
    <h2 class="l-welcome__title title">Nuestros Agentes Destacados</h2>
    <div class="l-welcome__agents">
      <div class="owl-carousel">
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/1/",
          name: "Scott Pilgrim",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/2/",
          name: "Rihanna Fenty",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/3/",
          name: "Melvin Gordon",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/4/",
          name: "Mariah Carey",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/5/",
          name: "Peter Parker",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/6/",
          name: "John Adams",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/7/",
          name: "John Adams",
          phone: "(555) 555-5555"
        %>
        <%= render "agent-card",
          image: "http://lorempixel.com/200/300/people/8/",
          name: "John Adams",
          phone: "(555) 555-5555"
        %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    loop: false,
    margin: 30,
    nav: true,
    center: true,
    dots: false,
    autoWidth: true,
    responsive: {
      0: {
        items: 1
      },
      400: {
        items: 2
      },
      600: {
        items: 3
      },
      1000: {
        items: 4
      }
    },
    navText: ['←','→']
  });
});
</script>
