.agent-card {
  position: relative;
  min-width: 200px;
  padding-bottom: 2em;

  &__image {
    border-radius: 4px;
  }

  &__information {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    padding: 1.25em 1.5em;
    margin: auto;
    font-size: 0.7em;
    color: $color-gray;
    text-align: center;
    background-color: white;
    border-radius: 4px;
  }

  &__name {
    font-size: 1.25em;
    font-weight: $font-weight-bold;
    color: $color-body;
  }
}
