.button {
  padding: 0.75em 0.5em;
  font-family: $font-family-body;
  font-size: 1rem;
  color: $color-body;
  background-color: white;
  border: 0;
  outline: 0;
  margin-block: 0.25em;

  &--black {
    color: white;
    background-color: $color-body;
  }

  &--full-width {
    width: 100%;
  }
}
