.footer {
  padding: 3em 0 2px;
  font-size: 1rem;
  color: $color-gray;
  background-color: $color-body;

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    @media (min-width: $medium) {
      flex-direction: row;
    }

    > div {
      flex: 1 1 0;
    }
  }

  &__title {
    font-size: 1.5em;
  }

  a,
  &__link {
    color: $color-gray;
  }

  &__powered {
    text-align: right;
    margin-block: 1.5em;
  }

  hr {
    margin: 0.5em;
    border: 0;
    border-top: 0.5px solid $color-gray;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}
