.header {
  margin-top: 2.5em;

  &__information {
    display: flex;
    align-items: center;
  }

  &__logo,
  &__contact,
  &__social_media,
  &__search {
    display: inline-block;
    flex: 1 1 auto;
  }

  &__logo,
  &__social_media {
    flex: 3 1 auto;
  }

  &__contact,
  &__social_media {
    margin: 0 0.5em;
  }

  &__social_media,
  &__search {
    text-align: right;
  }

  &__brand {
    font-size: 1.75em;
    line-height: 0.75;
  }

  &__slogan {
    font-size: 0.8em;
    color: $color-gray;
  }

  &__cta {
    font-size: 0.75em;
    color: $color-gray;
  }

  &__social_media {
    .fa-stack {
      font-size: 0.75em;
    }
  }

  &__search-box {
    display: inline-block;
    padding: 0.5em 0.75em;
    border: 1px solid $color-body;

    input {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__menu {
    padding: 0;
    margin: 2em auto 0;
    list-style: none;

    a:hover {
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1em;
    color: $color-body;

    &:hover {
      border-bottom: 5px solid $color-gray;
    }

    &--active {
      border-bottom: 5px solid gold;
    }
  }
}
