.house-card {
  max-width: 30rem;
  line-height: 1.25;

  a:hover {
    text-decoration: none;
  }

  &__ad {
    position: relative;
    line-height: 1.5;
  }

  &__contract {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    padding-right: 1em;
    text-transform: uppercase;
    background-color: rgba($color-light-gray, 0.8);
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.25em 0.5em 0.25em 0.75em;
    font-size: 1.25em;
    color: white;
    background-color: $color-accent;
  }

  &__image {
    width: 100%;
  }

  &__description {
    margin: 0;
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  &__item {
    display: inline-block;
    margin-right: 1em;
    font-size: 0.8em;
  }

  // This styles are used when the card acts as a link.
  &__ad,
  &__description {
    color: $color-body;
  }
}
