.input {
  padding: 0.75em;
  margin: 0.5em auto;
  font-size: 0.8em;
  border: 1px solid $color-body;

  &--full-width {
    width: 100%;
  }
}

::placeholder {
  color: $color-body;
  opacity: 1;
}
