.landing-form {
  display: inline-block;
  padding: 1.5em 2.5em;
  font-weight: $font-weight-bold;
  color: white;
  background-color: $color-accent;

  @media (min-width: $small) {
    padding: 2.5em 3.5em;
  }

  &__title {
    margin-bottom: 0.5em;
    font-size: 1.75em;

    @media (min-width: $small) {
      font-size: 2.75em;
    }
  }
}
