.property-carousel {
  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .owl-nav button.owl-next {
    position: absolute;
    right: 1em;
  }

  .owl-nav button.owl-prev {
    position: absolute;
    left: 1em;
  }

  .owl-nav button.owl-next,
  .owl-nav button.owl-prev {
    width: 2em;
    height: 2em;
    font-size: 2em;
    color: white;
    opacity: 0.75;

    &:hover {
      background: none;
    }
  }

  .owl-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
