.property-form {
  padding: 2em;
  text-align: center;

  &__image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }

  &__name {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.15em;
  }

  &__phone {
    margin-bottom: 1em;
    color: #939393;
  }
}
