.property-detail {
  padding: 0.5em 0.75em;
  line-height: 1.3;
  color: $color-light-gray;
  text-align: center;
  border: 0.1px solid rgba($color-light-gray, 0.25);

  @media (min-width: $medium) {
    border: 0;
    border-right: 0.1px solid rgba($color-light-gray, 0.25);
    border-bottom: 0.1px solid rgba($color-light-gray, 0.25);
  }

  @media (min-width: $large) {
    padding: 1.25em 1.75em;
  }

  &__title {
    font-size: 1.5em;
  }

  &__label {
    overflow: hidden;
    font-size: 0.8em;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  p {
    margin: auto;
  }
}
