.related-properties {
  &__title {
    font-size: 1.25em;
    text-align: center;
  }

  &__listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-row-gap: 2em;
    grid-column-gap: 1.5em;
    margin: 2em auto;
  }
}
