.select {
  position: relative;
  display: inline-block;
  padding: 0.75em 0.5em;
  overflow: hidden;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  outline: 0;
  appearance: none;
  margin-block: 0.25em;

  > select {
    width: calc(100% + 30px);
    color: white;
    background: transparent;
    border: none;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 1.5em;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $font-family-icons;
    font-size: 0.75em;
    font-weight: 900;
    color: white;
    pointer-events: none;
    content: "\0f078";
  }

  &--full-width {
    width: 100%;
  }
}
