body {
  font-family: $font-family-body;
  font-size: 18px;
  color: $color-body;
}

.title {
  font-family: $font-family-title;

  &--white {
    color: white;
  }
}

.relative-position {
  position: relative;
}

.fa-outline {
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}
